<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/"><b>QUIZ 969</b></a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Quên mật khẩu</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="passwordForgot()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" *ngIf="!isSubmitted">Gửi yêu cầu đổi mật khẩu</button>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" *ngIf="isSubmitted">Gửi lại</button>
            </div>
          </div>
        </form>
        <p class="mt-3 mb-1">
          <a routerLink="/login">Đăng nhập</a>
        </p>
        <p class="mb-0">
          <a routerLink="/register" class="text-center">Đăng ký tài khoản mới</a>
        </p>
      </div>
    </div>
  </div>
</div>
