<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Diaris</h4>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let diary of listDiary; index as i">
          <td>{{diary.id}}</td>
          <td>{{diary.title}}</td>
          <td>{{diary.description}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteDiary(i)">DELETE</button>
          </td>
        </tr>
        </tbody>
      </table>
      <hr>
      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let p of pages;let i=index">
          <a class="nav-link" href="" (click)="setPage(i,$event)"
          [ngClass]="{'active': i==page}">{{ i }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
