<!--Huynh-->
<div class="single-list flex-row d-flex" *ngFor="let diary of listDiary; index as i">
  <div class="detail">
    <a [routerLink]="'/diary/detail/' + diary.id"><h4>{{diary.title}}</h4></a>
    <small>{{diary.updatedate}}</small>
    <p class="pt-20" style="color:black">
      {{diary.description}}
    </p>
  </div>
</div>
<div class="justify-content-center d-flex">
  <nav aria-label="Page navigation example">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages;let y=index">
        <a class="nav-link" href="" (click)="setPage(y,$event)"
           [ngClass]="{'active': y==page}">{{ y }}</a>
      </li>
    </ul>
  </nav>
</div>
