<!--Huynh-->
<div class="single-list flex-row d-flex" *ngFor="let diary of listDiary | paginate: { itemsPerPage: 5, currentPage: p }">
  <div class="detail">
    <a [routerLink]="'/diary/detail/' + diary.id"><h4>{{diary.title}}</h4></a>
    <small>{{diary.updatedate}}</small>
    <div *ngIf="diary.status === 1; else public"><i style="font-size:24px" class="fa">&#xf183;</i></div>
    <ng-template #public><br><i class="material-icons">&#xe80b;</i></ng-template>
    <p class="pt-20" style="color:black">
      {{diary.description}}
    </p>
  </div>
</div>
<div class="justify-content-center d-flex">
  <nav aria-label="Page navigation example">
    <ul class="nav nav-pills">
      <pagination-controls  class="text-center" (pageChange)="p = $event"></pagination-controls>
    </ul>
  </nav>
</div>
