<!-- Start top-section Area -->
<!--<section class="top-section-area section-gap">
  <div class="container">
    <div class="row justify-content-start align-items-center d-flex">
      <div class="col-lg-8 top-left">
        <img *ngIf="isUserLoggedIn" [src]="avatar" width="300px" height="300px">
        <h1 class="text-white mb-20 mt-20" *ngIf="isUserLoggedIn">{{username}}</h1>
      </div>
    </div>
  </div>
</section>-->

<!--<section class="top-section-area section-gap">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center align-items-center d-flex">-->
<!--      <div class="col-lg-8">-->
<!--        <div id="imaginary_container">-->
<!--          <div class="input-group stylish-input-group">-->
<!--            <input type="text" class="form-control" placeholder="Search Diary" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Addictionwhen gambling '" required="">-->
<!--            <span class="input-group-addon">-->
<!--                                        <button type="submit">-->
<!--                                            <span class="lnr lnr-magnifier"></span>-->
<!--                                        </button>-->
<!--                                    </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="mt-20 text-center text-white">169 results found for “Addictionwhen gambling”</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<app-diary-search></app-diary-search>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-100">
  <!-- Start post Area -->
  <section class="post-area">
    <div class="container">
      <div class="row justify-content-center d-flex">
        <div class="col-lg-8">
          <div class="post-lists search-list">

            <div class="single-list flex-row d-flex" *ngFor="let diary of diaryList; index as i">
              <div class="detail">
                <a [routerLink]="'/diary/detail/' + diary.id"><h4>{{diary.title}}</h4></a>
                <small>{{diary.updatedate}}</small>
                <p class="pt-20" style="color:black">
                  {{diary.description}}
                </p>
              </div>
            </div>
            <div class="justify-content-center d-flex">

          </div>
        </div>
        <div class="col-lg-4 sidebar-area">

          <div class="single_widget about_widget">
            <img *ngIf="isUserLoggedIn" [src]="avatar" width="100px" height="100px" alt="">
            <a routerLink="/app/account"><h2 class="text-uppercase" *ngIf="isUserLoggedIn">{{username}}</h2></a>
            <span>Fullname: </span><span *ngIf="isUserLoggedIn">{{fullName}}</span><br>
            <span>Email: </span><span *ngIf="isUserLoggedIn">{{email}}</span>
          </div>

          <div class="single_widget cat_widget">
            <h4 class="text-uppercase pb-20">categories</h4>
            <ul>
              <li>
                <a href="#">Technology <span>37</span></a>
              </li>
              <li>
                <a href="#">Lifestyle <span>37</span></a>
              </li>
              <li>
                <a href="#">Fashion <span>37</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- End post Area -->
</div>
<!-- End post Area -->

