<app-diary-search></app-diary-search>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-100">
  <!-- Start post Area -->
  <section class="post-area">
    <div class="container">
      <div class="row justify-content-center d-flex">
        <div class="col-lg-8">
          <div class="post-lists search-list" *ngFor="let diary of diaryList; index as i">
            <div class="single-list flex-row d-flex">
              <div class="detail">
                <a [routerLink]="'/diary/detail/' + diary.id"><h4>{{diary.title}}</h4></a>
                <small>{{diary.updatedate}}</small>
                <p class="pt-20" style="color:black">
                  {{diary.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 sidebar-area">
          <div class="single_widget about_widget">
            <img *ngIf="isUserLoggedIn" [src]="avatar" width="100px" height="100px" alt="">
            <a routerLink="/app/account"><h2 class="text-uppercase" *ngIf="isUserLoggedIn">{{username}}</h2></a>
            <span>Fullname: </span><span *ngIf="isUserLoggedIn">{{fullName}}</span><br>
            <span>Email: </span><span *ngIf="isUserLoggedIn">{{email}}</span>
          </div>

          <app-tag-show></app-tag-show>

        </div>
      </div>
    </div>
  </section>

  <!-- End post Area -->
</div>
<!-- End post Area -->

