<!-- Start top-section Area -->
<section class="top-section-area section-gap">
  <div class="container">
    <div class="row justify-content-start align-items-center d-flex">
      <div class="col-lg-8 top-left">
        <img *ngIf="isUserLoggedIn" [src]="avatar" width="300px" height="300px">
        <h1 class="text-white mb-20 mt-20" *ngIf="isUserLoggedIn">{{username}}</h1>
      </div>
    </div>
  </div>
</section>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-100">
  <!-- Start post Area -->
  <section class="post-area">
    <div class="container">
      <div class="row justify-content-center d-flex">
        <div class="col-lg-8">
          <div class="post-lists search-list">
<!--            <div class="single-list flex-row d-flex">-->
<!--              <div class="detail">-->
<!--                <a href="#"><h4 class="pb-10">Addiction When Gambling Becomes A Problem</h4></a>-->
<!--                <h6 class="pb-10" style="color: black">23/07/2020</h6>-->
<!--                <p>-->
<!--                  inappropriate behavior Lorem ipsum dolor sit amet, consecteturinapprop riate behavior Lorem ipsum-->
<!--                  dolor sit amet, consectetur.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
            <app-diary-show></app-diary-show>
<!--            <div class="justify-content-center d-flex">-->
<!--              <nav aria-label="Page navigation example">-->
<!--                <ul class="pagination">-->
<!--                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--                </ul>-->
<!--              </nav>-->
<!--            </div>-->
          </div>
        </div>
        <div class="col-lg-4 sidebar-area">
          <div class="single_widget search_widget">
            <div id="imaginary_container">
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="lnr lnr-magnifier"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <div class="single_widget cat_widget">
            <h4 class="text-uppercase pb-20">categories</h4>
            <ul *ngFor="let category of">
              <li>
                <a href="#">Technology <span>37</span></a>
              </li>
              <li>
                <a href="#">Lifestyle <span>37</span></a>
              </li>
              <li>
                <a href="#">Fashion <span>37</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End post Area -->
</div>
<!-- End post Area -->

