.divider-text {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 10px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-gmail{
  background-color: orangered;
  color: #fff;
}
