<br>
<br>
<br>
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin</div>
    <div class="list-group list-group-flush">
      <a routerLink="/admin/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="/admin/user-list" class="list-group-item list-group-item-action bg-light">User List</a>
      <a routerLink="/admin/dairy-list" class="list-group-item list-group-item-action bg-light">Dairy List</a>
      <a routerLink="/admin/album-list" href="#" class="list-group-item list-group-item-action bg-light">Album List</a>
      <a routerLink="/admin/tag-list" class="list-group-item list-group-item-action bg-light">Tag List</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->

  <div id="page-content-wrapper">
    <div class="container">
      <h1 class="mt-4">Dashboard</h1>
      <div class="row mt-5">
        <div class="col-6">
          <div class="border p-1">
            <p class="text-uppercase font-weight-bold text-center">User registration summary 2020</p>
            <div>
              <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData1"
                        [labels]="barChartLabels1"
                        [options]="barChartOptions1"
                        [legend]="barChartLegend1"
                        [colors]="barChartColors1"
                        [chartType]="barChartType1">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 border">
          <form [formGroup]="monthChartReportForm">
            <div class="row">
              <p class="col-8 text-uppercase font-weight-bold text-right">User registration summary in </p>
              <span class="col-3 text-left ml-0 pl-0">
                <select formControlName="monthSelection">
                  <option value="01" [selected]="true">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </span>
            </div>
          </form>
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData2"
                    [labels]="barChartLabels2"
                    [options]="barChartOptions2"
                    [legend]="barChartLegend2"
                    [chartType]="barChartType2">
            </canvas>
          </div>
        </div>
      </div>
      <hr class="mt-5">
      <div class="mt-5 mb-5">
        <form [formGroup]="reportForm" (ngSubmit)="report()" class="row">
          <div class="col-4  text-center">
            <label for="fromDate" class="font-weight-bold">From :&nbsp;</label>
            <input style="width: 230px" type="datetime-local" id="fromDate" formControlName="fromDate" class="ml-3">
          </div>
          <div class="col-4  text-center">
            <label for="toDate" class="font-weight-bold">To :&nbsp;</label>
            <input style="width: 230px" type="datetime-local" id="toDate" formControlName="toDate" class="ml-3">
          </div>
          <div class="col-2  text-center">
            <input class="font-weight-bold"
                   style="width: 70%; border-radius: 5px; border: 1px solid black; background-color: white"
                   type="submit" value="Submit">
          </div>
          <div class="col-2  text-center">
            <div style="width: 70%;  border-radius: 5px; border: 1px solid black; cursor: pointer">

              <span style="width: 100%; border-radius: 5px" class="fa fa-arrow-circle-up font-weight-bold" (click)="exportPDF()">&nbsp;PDF</span>
            </div>
          </div>
        </form>
      </div>
      <hr>
        <p class="text-uppercase font-weight-bold text-center">Statistics</p>
      <table class="table" id="content">
        <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
