<!-- Start Header Area -->
<header class="default-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" *ngIf="!isUserLoggedIn" routerLink="/">Penzu</a>
      <a class="navbar-brand" *ngIf="isUserLoggedIn" routerLink="/journals">Penzu</a>
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li *ngIf="!isUserLoggedIn"><a routerLink="/login">Login</a></li>
          <li *ngIf="isUserLoggedIn" class="dropdown">
            <a class="dropdown-toggle">{{username}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/app/account">Account</a>
              <a class="dropdown-item" routerLink="/journals">Journals</a>
              <a class="dropdown-item" routerLink="/diary/create">New Entry</a>
              <a class="dropdown-item" routerLink="/" (click)="logout()">Logout</a>
      </div>
          </li>
          <li *ngIf="!isUserLoggedIn"><a routerLink="/register">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End Header Area -->
