<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">User List</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Dairy List</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Album List</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Tag List</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->

  <!--  <div id="page-content-wrapper">-->
  <!--    <div class="container-fluid">-->
  <!--      <h1 class="mt-4">User List</h1>-->
  <!--      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>-->
  <!--      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
