<br>
<br>
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin</div>
    <div class="list-group list-group-flush">
      <a routerLink="/admin/user-list" class="list-group-item list-group-item-action bg-light">User List</a>
      <a routerLink="/admin/dairy-list" class="list-group-item list-group-item-action bg-light">Dairy List</a>
      <a routerLink="/admin/album-list" href="#" class="list-group-item list-group-item-action bg-light">Album List</a>
      <a routerLink="/admin/tag-list" class="list-group-item list-group-item-action bg-light">Tag List</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4">User List</h1>
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th class="w-20">Full Name</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Access</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let user of userList">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td *ngIf="user.roles[0]">{{user.roles[0].name}}</td>
          <td *ngIf="!user.roles[0]"></td>
          <td class="text-center">
            <span style="font-size: 25px" *ngIf="user.status == 1" class="fa fa-check text-success">&nbsp;</span>
            <span *ngIf="user.status == 1" class="fa fa-lock text-black-50" (click)="blockUser(+user.id)"></span>
            <span *ngIf="user.status == 0" class="fa fa-check text-black-50"
                  (click)="activeUser(+user.id)">&nbsp;</span>
            <span style="font-size: 25px" *ngIf="user.status == 0" class="fa fa-lock text-danger"></span>
          </td>


          <td class="text-center">
            <!--          nút edit user-->
            <span style="font-size: 20px" data-toggle="modal"
                  data-target="#exampleModal" data-whatever="@mdo"
                  class="fa fa-eye text-primary" (click)="showDetailUser(user.id)">
            </span> |

            <!--            nút delete user-->
            <span class="fa fa-remove text-danger" style="font-size: 20px" (click)="deleteUser(+user.id)">
            </span>
          </td>


        </tr>
      </table>
      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let p of pages;let i=index">
          <a class="nav-link" (click)="setPage(i, $event)"
             [ngClass]="{'active': i==page}">{{ i + 1 }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="pickUpUser" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{pickUpUser.name}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="changeInfor(closeModalRef)">
          <table class="container" style="margin-left: 30px">
            <tr>
              <td class="font-weight-bold">User name :</td>
              <td><input class="border-light" type="text" formControlName="username" name="username"></td>
            </tr>
            <tr>
              <td colspan="2"><small class="text-danger" *ngIf="editForm.get('username').invalid && editForm.get('username').touched">Username is required and must be at least 3 characters.</small></td>
            </tr>
            <br>
            <tr>
              <td class="font-weight-bold">Email :</td>
              <td><input class="border-light" type="text" formControlName="email"></td>
            </tr>
            <tr>
              <td colspan="2"><small class="text-danger" *ngIf="editForm.get('email') && editForm.get('email').touched">Email is invalid</small></td>
            </tr>
            <br>
            <tr>
              <td class="font-weight-bold">Role :</td>
              <td><select formControlName="roles">
                <option [selected]="pickUpUser.roles[0].name === 'ROLE_USER'" value="1">USER</option>
                <option [selected]="pickUpUser.roles[0].name === 'ROLE_ADMIN'" value="3">ADMIN</option>
              </select></td>
            </tr>
          </table>
          <br>
          <div class="modal-footer">
            <button #closeModalRef type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
