<div class="section-top-border">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="col-6 text-center">
      <h3 class="">Sign in</h3>
      <form>
        <div class="mt-10">
          <input type="text" name="username" placeholder="Username" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Username'" required="" class="single-input">
        </div>
        <div class="mt-10">
          <input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'password'" required="" class="single-input">
        </div>
        <div class="mt-50 form-group">
          <div class="col-md-5 mb-3 float-left">
            <a href="">Forgot your password?</a>
          </div>
          <div class="col-md-4 mb-3 float-right">
            <a href="#" class="genric-btn primary circle">Sign in</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
