<!-- Start top-section Area -->
<section class="top-section-area section-gap">
  <div class="container">
    <div class="row justify-content-between align-items-center d-flex">
      <div class="col-lg-8 top-left">
        <h1 class="text-white mb-20">{{diary.title}}</h1>
        <ul>
          <li><a routerLink="/journals">Home</a><span class="lnr lnr-arrow-right"></span></li>
          <li><a routerLink="/diary/category">Tag</a><span class="lnr lnr-arrow-right"></span></li>
          <li><a routerLink="/diary/detail/{{diary.tag}}">{{diary.tag.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-100">
  <!-- Start post Area -->
  <section class="post-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="single-page-post">
            <img class="img-fluid" [src]="diary.urlFile" alt="">
            <div class="top-wrapper ">
              <div class="row d-flex justify-content-between">
                <h2 class="col-lg-8 col-md-12 text-uppercase">
                  {{diary.title}}
                </h2>
                <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                  <div class="desc">
                    <h2>{{diary.user.username}}</h2>
                    <div *ngIf="diary.updatedate > diary.createdate ; else other3">
                      <h6><p class="text-dark">{{diary.updatedate}}</p></h6>
                    </div>
                    <ng-template #other3>
                      <h6><p class="text-dark">{{diary.createdate}}</p></h6>
                    </ng-template>
                  </div>
                  <div class="user-img">
                    <img src="img/user.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tags">
              <ul *ngFor="let tag of tags">
                <li>{{tag}}</li>
              </ul>
            </div>

            <div class="single-post-content">
              <div *ngIf="diary.description">
                <blockquote>{{diary.description}}</blockquote>
              </div>
              <div style="width: 100%">
                <div [innerHTML]="diary.content"></div>
              </div>

            </div>

            <div class="bottom-wrapper">
              <div class="row">
                <div class="col-lg-3 single-b-wrap col-md-12">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  02 likes
                </div>
                <div class="col-lg-3 single-b-wrap col-md-12">
                  <i class="fa fa-comment-o" aria-hidden="true"></i> 06 comments
                </div>
                <div class="col-lg-3 single-b-wrap col-md-12">
                  <i class="fa fa-share" aria-hidden="true"></i>
                  <span style="cursor: pointer" data-toggle="modal"
                        data-target="#sharePopup" data-whatever="@mdo"
                        (click)="share(diary.id)">
                    &nbsp;Share</span>
                </div>
                <div class="col-lg-3 single-b-wrap col-md-12">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class=" float-right">
              <table>
                <tr>
                  <td>
                    <button class="btn btn-outline-info" [routerLink]="'/updateDiary/' + diary.id">EDIT</button>
                  </td>
                  <td>
                    <button class="btn btn-outline-danger" (click)="deleteDiary()">DELETE</button>
                  </td>
                </tr>
              </table>
            </div>

            <!-- Start comment-sec Area -->
            <section class="comment-sec-area pt-80 pb-80">
              <div class="container">
                <div class="row flex-column">
                  <h5 class="text-uppercase pb-80">02 Comments</h5>
                  <br>
                  <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                          <img src="img/asset/c1.jpg" alt="">
                        </div>
                        <div class="desc">
                          <h5><a href="#">Emilly Blunt</a></h5>
                          <p class="date">December 4, 2017 at 3:12 pm </p>
                          <p class="comment">
                            Never say goodbye till the end comes!
                          </p>
                        </div>
                      </div>
                      <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-list left-padding">
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                          <img src="img/asset/c2.jpg" alt="">
                        </div>
                        <div class="desc">
                          <h5><a href="#">Emilly Blunt</a></h5>
                          <p class="date">December 4, 2017 at 3:12 pm </p>
                          <p class="comment">
                            Never say goodbye till the end comes!
                          </p>
                        </div>
                      </div>
                      <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End comment-sec Area -->
          </div>
        </div>
        <div class="col-lg-4 sidebar-area ">
          <div class="single_widget search_widget">
            <div id="imaginary_container">
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="lnr lnr-magnifier"></span>
                                        </button>
                                    </span>
              </div>
            </div>
          </div>

          <div class="single_widget cat_widget">
            <h4 class="text-uppercase pb-20">Tags</h4>
            <ul *ngFor="let tag of tags">
              <li>{{tag}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End post Area -->
</div>
<!-- End post Area -->





<div class="modal fade" id="sharePopup" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Share Dairy</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger" *ngIf="announcementShare">{{announcementShare}}</p>
        <div class="mb-5">
          <p class="font-weight-bold">1. Get Share link:&nbsp;</p>
          <div class="row container">
            <i class="btn btn-outline-dark col-2" (click)="getShareLink(diary.id)">Get</i>
            <i>&nbsp;&nbsp;&nbsp;</i>
            <i class="col-9" *ngIf="shareLink">{{shareLink}}</i>
          </div>
        </div>
        <div>
          <form [formGroup]="shareLinkGroupForm" (ngSubmit)="shareLinkEmail(diary.id)">
            <p class="font-weight-bold">2. Share via email</p>
            <p class="text-success" *ngIf="announcementWaitWhileSendingEmail && shareLinkGroupForm.touched">{{announcementWaitWhileSendingEmail}}</p>
            <div class="row">
              <input placeholder="email" class="col-9 ml-3" type="text" formControlName="email"><br>
              <i>&nbsp;&nbsp;&nbsp;</i>
              <button type="submit" class="btn btn-outline-dark col-2">Share</button>
            </div>
            <p class="text-danger" *ngIf="shareLinkGroupForm.get('email').hasError('email') && isSubmitted">Email is invalid</p>
          </form>
        </div>
        <div class="mt-20 form-group border-top">
          <div class="">
            <button type="button" class="col-2 float-right btn btn-outline-dark large circle mt-2" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
