<!-- Start top-section Area -->
<section class="top-section-area section-gap">
  <div class="container">
    <div class="row justify-content-between align-items-center d-flex">
      <div class="col-lg-8 top-left">
        <h1 class="text-white mb-20">{{diary.title}}</h1>
        <ul>
          <li><a routerLink="/journals">Home</a><span class="lnr lnr-arrow-right"></span></li>
          <li><a routerLink="/diary/category">Tag</a><span class="lnr lnr-arrow-right"></span></li>
          <li><a routerLink="/diary/detail/{{diary.tag}}">{{diary.tag.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-100">
  <!-- Start post Area -->
  <section class="post-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="single-page-post">
            <div *ngIf="diary.urlFile.includes('.mp4'); else img">
              <video class="img-fluid" [src]="diary.urlFile" controls></video>
            </div>
            <ng-template #img>
              <img class="img-fluid" [src]="diary.urlFile" alt="">
            </ng-template>

            <div class="top-wrapper ">
              <div class="row d-flex justify-content-between">
                <h2 class="col-lg-8 col-md-12 text-uppercase">
                  {{diary.title}}
                </h2>
                <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                  <div class="desc">
                    <h2>{{diary.user.username}}</h2>
                    <p class="text-dark">{{diary.updatedate}}</p>
                  </div>
                </div>
              </div>
              <div class="tags">
                <ul>
                  <li><a href="#">{{diary.tag.name}}</a></li>
                </ul>
              </div>
              <!--             <div class="tags">
                             <div *ngIf="diary.status === 1; else public"><i style="font-size:24px" class="fa">&#xf183;</i> Only me</div>
                             <ng-template #public><br><i class="material-icons">&#xe80b;</i> Public</ng-template>
                           </div>-->
            </div>

            <div class="single-post-content">
              <blockquote>{{diary.description}}</blockquote>
              <div style="width: 100%">
                <div [innerHTML]="diary.content | safeHtml"></div>
              </div>

            </div>

            <div class="bottom-wrapper">
              <div class="row">
                <div class="col-lg-12 single-b-wrap col-md-12">
                  <ul class="social-icons">
                    <li><i class="fa fa-share" style="cursor: pointer" title="Share" aria-hidden="true" data-toggle="modal" data-target="#sharePopup" data-whatever="@mdo" (click)="share(diary.id)"></i></li>
                    <li><a [routerLink]="'/updateDiary/' + diary.id"><i title="Edit" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                    <li><i style="cursor: pointer" title="Delete" class="fa fa-times" aria-hidden="true" (click)="deleteDiary()"></i></li>
                  </ul>

                </div>
              </div>
            </div>

            <!--start comment-->
            <section class="comment-sec-area pt-80 pb-80">
              <div class="container">
                <div *ngIf="comments; else noComment">
                  <h5 class="text-uppercase pb-80">{{comments.length}} Comments</h5>
                </div>
                <ng-template #noComment><h5 class="text-uppercase pb-80"> Comments</h5></ng-template>
                <div class="row flex-column" *ngFor="let comment of comments">
                  <br>
                  <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                          <img [src]="comment.user.avatar" width="55px" height="55px" alt="avatar-image">
                        </div>
                        <div class="desc" style="width: 650px; word-wrap: break-word" >
                          <h5>{{comment.user.username}}</h5>
                          <p class="date">{{comment.createdate}}</p>
                          <p class="comment">{{comment.content}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="commentform-area  pb-120 pt-80 mb-100" style="margin-top: -50px">
              <div class="container">
                <h5 class="text-uppercas pb-50">Leave a Reply</h5>
                <div class="row flex-row d-flex">
                  <div class="col-lg-12">
                    <textarea [(ngModel)]="comment" class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                    <button class="genric-btn primary circle float-right" type="submit" value="Comment" (click)="createComments()">Comment</button>
                  </div>
                </div>
              </div>
            </section>
            <!--End comments-->

          </div>
        </div>
        <div class="col-lg-4 sidebar-area ">
          <div class="single_widget search_widget">
            <div id="imaginary_container">
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="lnr lnr-magnifier"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <!--start tag area-->
          <app-tag-show></app-tag-show>
          <!--end tag area-->

        </div>
      </div>
    </div>
  </section>
  <!-- End post Area -->
</div>
<!-- End post Area -->

<div class="modal fade" id="sharePopup" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Share Dairy</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger" *ngIf="announcementShare">{{announcementShare}}</p>
        <div class="mb-5">
          <p class="font-weight-bold">1. Get Share link:&nbsp;</p>
          <div class="row container">
            <i class="btn btn-outline-dark col-2" (click)="getShareLink(diary.id)">Get</i>
            <i>&nbsp;&nbsp;&nbsp;</i>
            <i class="col-9" *ngIf="shareLink">{{shareLink}}</i>
          </div>
        </div>
        <div>
          <form [formGroup]="shareLinkGroupForm" (ngSubmit)="shareLinkEmail(diary.id)">
            <p class="font-weight-bold">2. Share via email</p>
            <p class="text-success" *ngIf="announcementWaitWhileSendingEmail && shareLinkGroupForm.touched">{{announcementWaitWhileSendingEmail}}</p>
            <div class="row">
              <input placeholder="email" class="col-9 ml-3" type="text" formControlName="email"><br>
              <i>&nbsp;&nbsp;&nbsp;</i>
              <button type="submit" class="btn btn-outline-dark col-2">Share</button>
            </div>
            <p class="text-danger" *ngIf="shareLinkGroupForm.get('email').hasError('email') && isSubmitted">Email is invalid</p>
          </form>
        </div>
        <div class="mt-20 form-group border-top">
          <div class="">
            <button type="button" class="col-2 float-right btn btn-outline-dark large circle mt-2" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
