<!-- Start top-section Area -->
<section class="top-section-area section-gap">
  <div class="container">
    <div class="row justify-content-between align-items-center d-flex">
      <div class="col-lg-8 top-left">
        <h1 class="text-white mb-20">{{diary.title}}</h1>
        <ul>
          <li><a routerLink="/journals">Home</a><span class="lnr lnr-arrow-right"></span></li>
          <li><a routerLink="/diary/category">Tag</a><span class="lnr lnr-arrow-right"></span></li>
          <li><a routerLink="/diary/detail/{{diary.tag}}">{{diary.tag.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-100">
  <!-- Start post Area -->
  <section class="post-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="single-page-post">
            <img class="img-fluid" [src]="diary.urlFile" alt="">
            <div class="top-wrapper ">
              <div class="row d-flex justify-content-between">
                <h2 class="col-lg-8 col-md-12 text-uppercase">
                  {{diary.title}}
                </h2>
                <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                  <div class="desc">
                    <h2>{{diary.user.username}}</h2>
                    <h3>{{diary.createdate}}</h3>
                  </div>
                  <div class="user-img">
                    <img src="img/user.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tags">
              <ul *ngFor="let tag of tags">
                <li>{{tag}}</li>
              </ul>
            </div>

            <div class="single-post-content">
              <div *ngIf="diary.description">
                <blockquote>{{diary.description}}</blockquote>
              </div>
              <div style="width: 100%">
                <div [innerHTML]="diary.content"></div>
              </div>

            </div>

            <div class="bottom-wrapper">
              <div class="row">
                <div class="col-lg-4 single-b-wrap col-md-12">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  lily and 4 people like this
                </div>
                <div class="col-lg-4 single-b-wrap col-md-12">
                  <i class="fa fa-comment-o" aria-hidden="true"></i> 06 comments
                </div>
                <div class="col-lg-4 single-b-wrap col-md-12">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class=" float-right">
                  <table>
                    <tr>
                      <td>
                        <button class="btn btn-outline-info" [routerLink]="'/updateDiary/' + diary.id">EDIT</button>
                      </td>
                      <td>
                        <button class="btn btn-outline-danger" (click)="deleteDiary()">DELETE</button>
                      </td>
                    </tr>
                  </table>
            </div>

<!--            &lt;!&ndash; Start comment-sec Area &ndash;&gt;-->
<!--            <section class="comment-sec-area pt-80 pb-80">-->
<!--              <div class="container">-->
<!--                <div class="row flex-column">-->
<!--                  <h5 class="text-uppercase pb-80">02 Comments</h5>-->
<!--                  <br>-->
<!--                  <div class="comment-list">-->
<!--                    <div class="single-comment justify-content-between d-flex">-->
<!--                      <div class="user justify-content-between d-flex">-->
<!--                        <div class="thumb">-->
<!--                          <img src="img/asset/c1.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="desc">-->
<!--                          <h5><a href="#">Emilly Blunt</a></h5>-->
<!--                          <p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--                          <p class="comment">-->
<!--                            Never say goodbye till the end comes!-->
<!--                          </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="reply-btn">-->
<!--                        <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="comment-list left-padding">-->
<!--                    <div class="single-comment justify-content-between d-flex">-->
<!--                      <div class="user justify-content-between d-flex">-->
<!--                        <div class="thumb">-->
<!--                          <img src="img/asset/c2.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="desc">-->
<!--                          <h5><a href="#">Emilly Blunt</a></h5>-->
<!--                          <p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--                          <p class="comment">-->
<!--                            Never say goodbye till the end comes!-->
<!--                          </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="reply-btn">-->
<!--                        <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </section>-->
<!--            &lt;!&ndash; End comment-sec Area &ndash;&gt;-->

<!--           Begin comments-->

            <div class="container">
             <div class="row" >
                <div class="col-10" *ngFor="let comment of comments">
                  <div>
                    {{comment}}
                  </div>
                </div>
             </div>
            </div>

            <!--            End comments-->

          </div>
        </div>
        <div class="col-lg-4 sidebar-area ">
          <div class="single_widget search_widget">
            <div id="imaginary_container">
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="lnr lnr-magnifier"></span>
                                        </button>
                                    </span>
              </div>
            </div>
          </div>

          <div class="single_widget cat_widget">
            <h4 class="text-uppercase pb-20">Tags</h4>
            <ul *ngFor="let tag of tags">
              <li>{{tag}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End post Area -->
</div>
<!-- End post Area -->
