<div class="container-fluid" style="background: lightgray;  padding-top: 5rem;">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div>
        <img class="Images img-fluid" src="{{album.avatar}}" style="width:100px" height="100px">
        <hr>
        <h1 class="mt-4">{{album.title}}</h1>
        <p class="lead">
          by
          <a class="text-primary">{{album.user.name}}</a>
        </p>
        <hr>
        <p>{{album.createdate}}</p>
      </div>
      <hr>
      <div class="row" *ngIf="listImage">
        <div class="col-md-4" *ngFor="let image of listImage| paginate: { itemsPerPage: 6, currentPage: p }">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{image.url}}" style="width: 100% ;height: 225px" alt="Card image cap" [routerLink]="'/album-detail/' + album.id" >
          </div>
        </div>
      </div>
      <pagination-controls class="text-center"  (pageChange)="p = $event"></pagination-controls>
      <hr>
    </div>
  </div>
</div>
