<br><br><br>
<div class="hold-transition register-page mt-100 mb-100">
  <div class="register-box">
    <div class="container">
      <div class="card-body register-card-body">
        <h4 class="text-uppercase text-dark">Khôi phục mật khẩu</h4><br>
        <form role="form" [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="recoverPasswordForm.get('password').hasError('required') && isSubmitted">
              Mật khẩu phải được điền
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="recoverPasswordForm.get('password').hasError('minlength') && isSubmitted">
              Mật khẩu phải có nhiều hơn 6 ký tự
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="recoverPasswordForm.get('password').hasError('maxlength') && isSubmitted">
              Mật khẩu phải có ít hơn 12 ký tự
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="isCorrectConfirmPassword(recoverPasswordForm.value.password,recoverPasswordForm.value.confirmPassword)
                 && recoverPasswordForm.get('confirmPassword').hasError('required') && isSubmitted">
              Mật khẩu nhập lại không khớp.
            </div>
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Đổi</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
