<br><br><br>
<div class="hold-transition register-page mt-100 mb-100">
  <div class="register-box">
    <div class="container">
      <div class="card-body register-card-body">
        <h4 class="text-uppercase text-dark">New Password registration</h4><br>
        <form role="form" [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="text-danger mb-4 ml-1" role="alert"
               *ngIf="recoverPasswordForm.get('password').hasError('required') && isSubmitted">
            Password is required!
          </div>
          <div class="text-danger mb-4 ml-1" role="alert"
               *ngIf="recoverPasswordForm.get('password').hasError('minlength') && isSubmitted">
            Password is included at least 6 characters
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="text-danger mb-4 ml-1" role="alert"
               *ngIf="isCorrectConfirmPassword(recoverPasswordForm.value.password,recoverPasswordForm.value.confirmPassword)
                 && recoverPasswordForm.get('confirmPassword').hasError('required') && isSubmitted">
            Confirm password is not match.
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
