<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="single-footer-widget">
          <h6>PENZU</h6>
          <ul class="footer-nav">
            <li><a routerLink="/register">Free Signup</a></li>
            <li><a href="https://penzu.com/pro" target="_blank">Penzu PRO</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a href="https://penzu.com/support" target="_blank">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-footer-widget">
          <h6>JOURNALS</h6>
          <ul class="footer-nav">
            <li><a href="https://penzu.com/journal-prompts" target="_blank">Journal Prompts</a></li>
            <li><a href="https://penzu.com/what-is-a-journal" target="_blank">What is a Journal</a></li>
            <li><a href="https://penzu.com/pregnancy-journal" target="_blank">Pregnancy Journal</a></li>
            <li><a href="https://penzu.com/how-to-write-a-reflective-journal" target="_blank">Reflective Journal</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-12">
        <div class="single-footer-widget newsletter">
          <h6>ADDRESS</h6>
          <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9265632482184!2d105.7661268148135!3d21.03562419292015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1svi!2sus!4v1595389333915!5m2!1svi!2sus" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->
