<section class="top-section-area section-gap">
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h1 class="text-white text-center">Update Diary</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="category-area section-gap" id="news">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-20 col-lg-8">

        <div *ngIf="diary">
          <form [formGroup]="formDiary" (ngSubmit)="updateDiary(openModal, openProcessBar , closeProcess)">
            <div *ngIf="filePath; else url">
              <img src="{{filePath}}" class="img-fluid">
            </div>
            <ng-template #url>
              <img src="{{diary.urlFile}}" class="img-fluid">
            </ng-template>

            <label>Image</label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" aria-label="Amount (to the nearest dollar)"
                     (change)="handleFileChooser($event.target.files)">
            </div>

            <div class="mt-20">
              <label>Select Privacy</label>
              <select formControlName="status" class="custom-select ">
                <option [ngValue]="p.value" *ngFor="let p of privacy" [selected]="p.value === diary.status">{{p.name}}</option>
              </select>
            </div>

            <label>Title</label>
            <div class="input-group mb-3">
              <textarea type="text" formControlName="title" name="title" class="form-control" id="basic-url" aria-describedby="basic-addon3"></textarea>
            </div>

            <label>Description</label>
            <div class="input-group mb-3">
              <textarea formControlName="description" name="description" rows="4" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <label>Tag</label>
            <div class="input-group mb-3">
              <select formControlName="tagId" class="custom-select " name="tag" id="inputGroupSelect02">
                <option value="" hidden selected>{{diary.tag.name}}</option>
                <option *ngFor="let tag of tagList" value="{{tag.id}}">
                  {{tag.name}}
                </option>
              </select>
            </div>

            <label>Content</label>
            <ck-editor name="editor1" skin="moono-lisa" formControlName="content" language="en" [fullPage]="false"></ck-editor>

            <div class="float-right mt-20">
            <label for="basic-url">
              <button type="submit" class="genric-btn success circle">Update</button>
            </label>
            </div>
          </form>
        </div>

        <button #openModal hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="alert-success" id="exampleModalLabel">Notify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-success">
                <h3>Diary Updated Successful!</h3>
              </div>
              <div class="modal-footer">
                <button #closeModalRef1 type="button" class="btn btn-info" data-dismiss="modal">Continue update Diary
                </button>
                <button type="button" class="btn btn-primary" (click)="preview(previewId, closeModalRef1)">Preview Diary
                </button>
              </div>
            </div>
          </div>
        </div>


        <button #openProcessBar type="button" hidden class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModalCenter">
        </button>

        <div data-keyboard="false" data-backdrop="static" class="modal fade" id="exampleModalCenter" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-success" id="exampleModalLongTitle">Processing!</h4>
              </div>
              <div class="modal-body">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="processValue"
                       [attr.aria-valuenow]="processValue" aria-valuemin="0" aria-valuemax="100">{{processValue}}%
                  </div>
                </div>
                <div class="modal-footer">
                  <button #closeProcess type="button" hidden class="btn btn-secondary" data-dismiss="modal">Close
                  </button>
                  <button type="button" hidden class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
