<div class="section-top-border">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="col-6 text-center">
      <h2 class="text-danger">Sorry!</h2>
      <h5 class="">Your account has been <span class="text-danger">BLOCKED</span></h5>
      <h5>Please contact us for details</h5>
      <h5>Or click <a routerLink="/">here</a> to go back Home page</h5>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h5>Service center : <span class="text-primary">service@penzu.com</span></h5>
    </div>
  </div>
</div>
