<div class="section-top-border">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center container">
      <div class="col-lg-10 col-md-10">
        <form>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Entry title...">
            </div>
            <div class="form-group col-md-2">
              <label>Select Privacy</label>
              <select class="form-control">
                <option>Public</option>
                <option>Only me</option>
              </select>
            </div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>

          <button class="genric-btn primary circle float-right">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
