<div class="section-top-border">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="col-6 text-center">
      <h2 class="">Welcome to Penzu!<br> Let’s create your free account</h2>
      <form action="#">
        <div class="mt-15">
          <input type="text" name="name" placeholder="Name" class="single-input">
        </div>
        <div class="mt-15">
          <input type="text" name="email" placeholder="Email" class="single-input">
        </div>
        <div class="mt-15">
          <input type="text" name="username" placeholder="Username" class="single-input">
        </div>
        <div class="mt-15">
          <input type="password" name="password" placeholder="Password" class="single-input">
        </div>
        <div class="mt-50 form-group">
          <div class="">
            <a href="#" class="genric-btn primary large circle">Create Account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
